* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button {
 cursor: pointer;
}

body{
  min-height: 100vh;
  min-width: 100vw;
}

header{
  min-height: 4rem;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
display: flex;
flex-flow: row wrap;
justify-content:center;
max-width: 800px;
margin: 0 auto;
}

/* Card Styling */
.card{
  display: inline-block;
  flex-basis: 25%;
  background-color: #d3d3d3;
  margin: 1rem 1rem;
  padding: 1rem ;
  text-align: center;
  border-radius: 3px;
}

@media(max-width: 815px) {
 .card {
   flex-basis: 25%;
 }
}

img{
  max-width: 10rem;
  border-radius: 3px;
}

.name{
  margin-top:0.5rem;
  font-weight: 600;
  font-style: oblique;
}

/* End of Card Styling */
.scoreBoard{
  display: flex;
  flex-direction: row;
}
.scoreBoard span{
  font-weight: 600;
}
.bestScore{
  margin-left: 0.5rem;
}